@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uit2ag');
  src:  url('fonts/icomoon.eot?uit2ag#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uit2ag') format('truetype'),
    url('fonts/icomoon.woff?uit2ag') format('woff'),
    url('fonts/icomoon.svg?uit2ag#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-britecore:before {
  content: "\e900";
}
.icon-user:before {
  content: "\f007";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-book:before {
  content: "\f02d";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-header:before {
  content: "\f1dc";
}
