<template lang="html">
  <div class="container-full">
    <div
      v-for="(field, index) in field_groups" :key="index"
      class="field-group-card">
      <div class="cont90">
        <p>{{field.title}}</p>
        <span>{{field.num_inputs}} other inputs</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['chosen_group', 'field_groups'],
  mounted() {
    //do something after mounting vue instance

  }
}
</script>

<style lang="scss">

  @import '../assets/sass/helpers/all.scss';
  @import '../assets/fonts/style.css';

  %transition {
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }

  .field-group-card {
    border: 1px solid #d8e5e7;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 15px;
    @include border-radius(4px);
    @extend %transition;
    &:hover {
      background-color:$green;
      p, span {
        color: #fff;
        @extend %transition;
      }
    }
  }
  p {
    margin-top: 8px!important;
    margin-bottom: 0!important;
    font-size: 13px;
    color: #333;
    font-family: 'proxima-nova-semibold', sans-serif;
  }
  span {
    font-size: 11px;
    display: inline-block;
    color: #405e64;
    margin-bottom: 8px;
    font-family: 'effra', sans-serif;
  }

</style>
