<template lang="html">
  <div class="container-full">
    <!-- SEARCH INPUT FOR INPUT TYPES -->
    <input type="text" v-model="search" placeholder="Enter search..." />

    <!-- LOOPS THROUGH INPUT CARDS -->
    <div
      v-for="(field, index) in filterBy(fieldTypes, search)"
      :key="index"
      :class="chosen_type == field.handle ? 'field-type-card-active' : ''"
      @click="chosen_type = field.handle"
      class="field-type-card margin0">
      <div class="cont90">
        <p class="main-title"> <span :class="field.icon"></span> {{field.type}}</p>
        <span class="sub-title">Definition</span>
        <p class="info">String of text</p>
        <span class="sub-title">Default Display</span>
        <p class="info">Free-form text input</p>
      </div>
    </div>
  </div>
</template>

<script>

  // import filters 
  import Vue2Filters from 'vue2-filters';

  export default {
    props: ['fieldTypes', 'chosen_type'],
    data() {
      return {
        search: ""
      }
    },
    mounted() {
      //do something after mounting vue instance
    }
  }
</script>

<style lang="scss">
  @import '../assets/fonts/style.css';
  @import '../assets/sass/helpers/all.scss';

  %hovercards {
    background-color: #027c91!important;
    .info, .main-title, .sub-title, span {
      color: #fff!important;
    }
  }

  .field-type-card {
    margin-bottom: 25px!important;
    border: 1px solid $input-border;
    background-color: #fff;
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    cursor: pointer;
    @include border-radius(3px);
    &:hover {
      @extend %hovercards;
    }
  }
  .field-type-card-active {
    @extend %hovercards;
  }
  .main-title {
    font-family: 'proxima-nova-semibold', sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 12px;
    margin-top: 15px;
    span {
      font-size: 15px;
      position: relative;
      display: inline-block;
      margin-right: 3px;
      color: $green;
    }
  }
  .sub-title {
    font-size: 13px!important;
    display: inline-block;
    color: #2a8693;
    margin: 0!important;
    font-family: 'effra', sans-serif;
    margin-bottom: 5px!important;
  }
  .info {
    color: #333;
    font-size: 15px!important;
    margin: 0!important;
    font-family: 'effra', sans-serif;
    margin-bottom: 15px!important;
  }
  .info, .main-title, .sub-title {
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
</style>
