<template lang="html">
  <div class="container">
    <div class="cont80">
      <h3>Field Types</h3>
      <p class="input-label proxima-nova">Filter Types</p>
      <!-- FIELD TYPE CARDS -->
      <FieldTypeCards
        :fieldTypes="fieldTypes"
        :chosen_type="chosen_type"/>
    </div>
  </div>
</template>

<script>

import FieldTypeCards from './FieldTypeCards.vue';

export default {
  props: ['fieldTypes', 'chosen_type'],
  data() {
    return {
      filtered_types: [],
      filterText: ""
    }
  },
  components: {
    FieldTypeCards
  }
}

</script>

<style lang="scss">
  @import '../assets/sass/helpers/all.scss';
  @import '../assets/fonts/style.css';
  h3 {
    margin: 25px 0 15px 0;
  }
  .col-12 {
    margin: 0;
    padding: 0;
  }
  input[type="text"] {
    margin-bottom: 25px;
  }
  ::-webkit-scrollbar-button { display: block; height: 13px; border-radius: 0px; background-color: #AAA; } ::-webkit-scrollbar-button:hover{ background-color: #AAA; } ::-webkit-scrollbar-thumb{ background-color: #123840; border-radius: 3px; } ::-webkit-scrollbar-thumb:hover{ background-color: #0f7790; border-radius: 3px; } ::-webkit-scrollbar-track{ background-color: #efefef; } ::-webkit-scrollbar-track:hover{ background-color: #CCC; } ::-webkit-scrollbar{ width: 5px; }
</style>
