<template lang="html">
  <div class="container-full">
    <div class="cont93">
      <!-- Main Title (Spans 12 Columns) -->
      <h3 id="field-details-title">Field Details</h3>

      <!-- First Section and Central Part -->
      <div class="grid-d-8 grid-t-9 grid-tl-9 grid-m-12 no-padding">
        <!-- Left Column -->
        <div class="grid-d-6 grid-t-6 grid-tl-6 grid-12-m no-padding">
          <div class="cont90right">

            <!-- DISPLAY VALUE -->
            <div class="detail-group">
              <p class="input-label proxima-nova">Display Label</p>
              <input type="text" name="" value="" class="nomargin" v-model="display_label">
              <span class="input-info proxima-nova">For display puroposes, spaces allowed</span>
            </div>

            <!-- DEFAULT VALUE -->
            <div class="detail-group">
              <p class="input-label proxima-nova">Default Value</p>
              <input type="text" name="" value="" class="nomargin" v-model="default_value">
            </div>

            <!-- CUSTOM VALIDATION -->
            <div class="detail-group">
              <p class="input-label proxima-nova">Custom Validation</p>
              <input
                v-model="custom_validation"
                v-on:input="check_regex()"
                type="text"
                name=""
                class="nomargin">
              <span v-show="!custom_validation_error" class="input-info proxima-nova">Any regex pattern can be used for custom input validation</span>
              <span v-show="custom_validation_error" class="error-message">Not a proper regex pattern</span>
            </div>

          </div>
        </div>

        <!-- Right Column -->
        <div class="grid-d-6 grid-t-6 grid-tl-6 grid-12-m no-padding">
          <div class="cont90right">

            <!-- REFERENCE NAME -->
            <div class="detail-group">
              <p class="input-label proxima-nova">Reference Name</p>
              <input type="text" name="" :value="reference(display_label)" class="nomargin input-disabled" disabled>
              <span class="input-info proxima-nova">Used to reference in calculations, no spaces allowed</span>
            </div>

          </div>
        </div>

        <!-- Tag Section -->
        <div class="grid-12-m no-padding">
          <Tags
            :tags="tags"
            :chosen_tag="chosen_tag" />
        </div>
      </div>
      <div class="grid-d-4 grid-t-3 grid-tl-3 grid-12-m no-padding">
          <div class="container field-groups">
            <div class="cont90 relative">
              <div id="field-groups">
                <!-- TITLE SECTION OF FIELD GROUPS -->
                <h4 v-show="!add_new_group">Field Groups</h4>
                <span v-show="!add_new_group" class="input-info proxima-nova">Choose a group for this input</span>

                <!-- FIELD GROUP CARDS COMPONENT -->
                <FieldGroupCards
                 v-show="!add_new_group"
                :chosen_group="chosen_group"
                :field_groups="field_groups" />

                <!-- Create new field group -->
                <h4 v-show="add_new_group">Create Field Group</h4>
                <span v-show="add_new_group" class="input-info proxima-nova">Choose a name for this group</span>

                <!-- Input for new Group -->
                <input
                  v-show="add_new_group"
                  v-model="field_group_input"
                  :class="!field_group_error ? 'margin-error' : ''"
                  v-on:keyup.13="create_field()"
                  id="field-group-input"
                  type="text"
                  placeholder="Enter Group Name...">
                <!-- Error Handler  -->
                <span
                  v-show="add_new_group"
                  class="input-info proxima-nova error-message"
                  v-if="field_group_error">{{field_group_error_message}}</span>
                <!-- Add New Group Action Button -->
                <button class="button" v-show="add_new_group" id="add-new-group-button-conf" @click="create_field()">Create Field Group</button>

                <!-- Add New Group Button Show Create -->
                <button class="button" v-show="!add_new_group" id="add-new-group-button" @click="add_new_group = !add_new_group">Add A New Group</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>

// IMPORT CARDS AND TAG COMPONENTS
import FieldGroupCards from './FieldGroupCards.vue';
import Tags from './Tags.vue';

export default {
  props: ['tags', 'chosen_tag', 'chosen_group', 'field_groups'],
  data() {
    return {
      add_new_group: false,
      field_group_input: null,
      field_group_error: false,
      field_group_error_message: "",
      display_label: "",
      custom_validation: "",
      custom_validation_error: false,
      default_value: ""
    }
  },
  components: {
    FieldGroupCards,
    Tags
  },
  methods: {
    // CREATES NEW FIELD
    create_field() {
      let slugged_title = this.slug_title();
      if(!this.search_array(slugged_title)) {
        if(this.field_group_input) {
          this.field_groups.push({
            title: this.field_group_input,
            num_inputs: 0,
            handle: this.slug_title()
          });
          this.add_new_group = false;
          document.getElementById('add-new-group-button').addAttribute("style", "margin-top:0px!important;");
          this.field_group_input = null;
        } else {
          this.show_group_error("Choose a name for this group");
        }
      } else {
        this.show_group_error("A field group with that name already exists.");
      }
    },
    // SLUGS TITLE
    slug_title() {
      return this.field_group_input.replace(/ /g,"_").toLowerCase();
    },
    // SLUGS REFERENCE
    reference() {
      return this.display_label.replace(/ /g,"_").toLowerCase();
    },
    // SHOW ERROR MESSAGE
    show_group_error(message) {
      this.field_group_error_message = message;
      this.field_group_error = true;
    },
    // CHECKS IF REGEX IS OK
    check_regex() {
      let re = new RegExp(this.custom_validation);
      if (re.test(this.display_label)) {
        this.custom_validation_error = true;
      } else {
        this.custom_validation_error = false;
      }
    },
    // SEARCHES FOR HANDLE IN CARDS TO PREVENT DUPLICITY
    search_array(handle) {
      for (var i = 0; i < this.field_groups.length; i++) {
        if(this.field_groups[i].handle == handle) {
          return true;
        }
      }
      return false;
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/sass/helpers/all.scss';
  @import '../assets/fonts/style.css';
  h3 {
    margin: 25px 0 15px 0;
  }
  .input-label {
    margin-top: 0;
    font-family: 'effra', sans-serif;
    margin-bottom: 10px;
  }
  .nomargin {
    margin: 0!important;
  }
  .input-info {
    display: inline-block;
    margin:0;
    margin-top: 8px;
    font-size: 11px;
    color: $green;
  }
  .detail-group {
    margin-bottom: 25px;
  }
  .tags {
    font-family: 'proxima-nova-semibold', sans-serif;
    font-size: 18px;
    color: #333;
  }
  .tag {
    font-size: 14px;
    display: inline-block;
    padding: 2px 12px;
    margin: 9px 10px 9px 0;
    background-color: #eff4f5;
    border: 1px solid #cadadd;
    color:#405e64;
    cursor: pointer;
    font-family: 'proxima-nova-semibold', sans-serif;
    @include border-radius(3px);
    &:hover {
      background-color: #cadadd;
    }
  }
  .indi-tags {
    font-size: 15px;
    margin-top: 27px;
    margin-bottom: 15px;
  }

  .field-groups {
    background-color: #f9fbfb;
    border: 1px solid #d8e5e7;
    h4 {
      margin: 15px 0 0 0;
    }
    .input-info {
      margin-bottom: 15px;
    }
  }
  #field-group-input {
    margin-bottom: 0;
  }
  #add-new-group-button,
  #add-new-group-button-conf {
    display: block;
    width: 100%;
    font-size: 13px;
    font-family: 'proxima-nova', sans-serif;
    border: 1px solid $input-border;
    cursor: pointer;
    &:hover {
      background-color: $green;
      color: #fff;
    }
  }
  #add-new-group-button-conf {
    background-color: #027c91;
    color: #fff;
    margin-top: 0;
  }
  .error-message {
    color: tomato;
    margin-bottom: 0;
  }
  .margin-error {
    margin-bottom: 10px!important;
  }
</style>
