<template lang="html">
  <!-- MAIN HEADER -->
  <header class="container" id="header">
    <div class="row relative">
      <!-- LOGO SECTION -->
      <div class="grid-d-3 grid-t-3 grid-tl-3 grid-m-3 no-padding">
        <div class="relative inline-block">
          <img src="../assets/img/BriteCoreLogo.png" alt="Britecore Logo" id="logo">
          <span class="icon-caret-down" id="caret-logo"></span>
        </div>
      </div>
      <!-- MENU ITEMS -->
      <div class="grid-d-9 grid-t-9 grid-tl-9 grid-m-9 no-padding">
        <!-- LOOPS THROUGH MENU ITEMS -->
        <a
          v-for="(menu_item, index) in menu"
          :key="index"
          :class="menu_item.menu_title == 'Lines' ? 'menu-item-active' : ''"
          class="menu-item proxima-nova">
          <span :class="menu_item.icon"></span>
          {{menu_item.menu_title}}
        </a>
        <a id="menu-mobile" @click="show_mobile = !show_mobile" class="float-right"> <span :class="show_mobile ? 'icon-close' : 'icon-bars'"></span> </a>
      </div>
      <!-- END OF MENU ITEMS  -->

      <!-- MOBILE MENU -->
      <transition name="fade" mode="out-in">
        <div id="mobile-menu-container">
          <a v-if="show_mobile" :class="menu_item.menu_title == 'Lines' ? 'mobile-active' : ''" v-for="(menu_item, index) in menu" :key="index" class="mobile-menu-item"><span :class="menu_item.icon"></span> {{menu_item.menu_title}}</a>
        </div>
      </transition>
    </div>
  </header>
  <!-- END OF HEADER -->
</template>

<script>
export default {
  props: ['show_mobile'],
  data() {
    return {
      menu: [
        { menu_title: "Policies", icon: "icon-umbrella"},
        { menu_title: "Claims", icon: "icon-bolt"},
        { menu_title: "Contacts", icon: "icon-user"},
        { menu_title: "Data", icon: "icon-bar-chart"},
        { menu_title: "Lines", icon: "icon-book"},
        { menu_title: "All Modules", icon: "icon-britecore"},
      ]
    }
  }
}
</script>

<style lang="scss">

  @import '../assets/fonts/style.css';
  @import '../assets/sass/helpers/all.scss';
  @import '../assets/icomoon/style.css';

  %hoverHeader {
    &:hover {
      background: $green-light;
    }
  }

  %transitionNormal {
    @include transition(all 0.3s ease);
  }

  %chosen {
    background-color: $green;
    span {
      color: #fff;
    }
  }

  header {
    background-color: $green;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  #logo {
    width: 140px;
    margin-top: 6px;
    margin-left: 4px;
    padding: 4px 32px 4px 12px;
    display: inline-block;
    cursor: pointer;
    @extend %hoverHeader;
    @extend %transitionNormal;
  }
  .menu-item {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 2px 12px;
    margin: 9px 4px;
    cursor: pointer;
    @include border-radius(5px);
    @extend %hoverHeader;
    @extend %transitionNormal;
    span {
      color: $menu-text;
      display: inline-block;
      margin-right: 4px;
      margin-bottom: 0;
    }
  }
  .menu-item-active {
    background: $green-light;
  }
  #caret-logo {
    position: absolute;
    right: 12px;
    top: 13px;
    color: #fff;
    font-size: 15px;
  }
  #menu-mobile {
    display: none;
    span {
      color: #fff;
      padding: 6px 12px;
      margin: 6px 10px 6px 0;
      font-size: 16px;
      cursor: pointer;
      @include border-radius(4px);
      &:hover {
        background-color: #008aa2;
      }
    }
  }
  #mobile-menu-container {
    position: absolute;
    background-color: #027c91;
    width: 100%;
    left: 0;
    top: 40px;
    z-index: 3;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    a {
      display: block;
      color: #fff;
      font-size: 16px;
      padding: 10px 0;
      cursor: pointer;
      border-bottom: 1px solid $green;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        @extend %chosen;
      }
      span {
        color: $green;
        display: inline-block;
        margin-right: 4px;
        font-size: 16px;
      }
    }
    .mobile-active {
      @extend %chosen;
    }
  }
  @media only screen and (max-width: 768px) {
    .menu-item {
      display: none;
    }
    #menu-mobile {
      display: inline-block;
    }
  }
</style>
