<template lang="html">
  <div class="container" id="button-options">
    <a @click="save()" class="button button-green save float-left">Save Changes</a>
    <a @click="erase()" class="button button-red delete float-right">Delete Input</a>
    <a @click="cancel()" class="button button-gray cancel float-right">Cancel Changes</a>
  </div>
</template>

<script>
export default {
  methods: {
    save() {
      alert("Save Field");
    },
    erase() {
      alert("Delete Field");
    },
    cancel() {
      alert("Cancel Field");
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/sass/helpers/all.scss';
  @import '../assets/fonts/style.css';
  @media only screen and (max-width: 45em) { /* 720px */
    #button-options {
      text-align: center!important;
    }
    .save, .delete, .cancel {
      text-align: center;
      float: none;
      margin-right: 10px;
    }
  }
</style>
