<template lang="html">
  <div class="container-full">
    <p class="tags">Tags</p>
    <div class="grid-d-6 grid-t-6 grid-6-tl grid-12-m no-padding">
      <div class="detail-group">
        <p class="input-label proxima-nova">Tag Group</p>
        <span
          v-for="(tag, index) in tags"
          :key="index"
          class="tag"
          :class="tag_chosen == tag.handle ? 'tagact' : ''"
          @click="get_sub_tags(tag.handle)" >
          {{tag.tag}}
        </span>
      </div>
    </div>
    <div class="grid-d-6 grid-t-6 grid-6-tl grid-12-m no-padding">
      <div class="detail-group subtags">
        <p class="tags proxima-nova indi-tags">Tags<i v-show="subtags.length > 0">: {{tag_chosen.tag}}</i> </p>
        <p v-show="subtags.length == 0" class="input-label proxima-nova" id="select-tags-text">Select a tag group to see individual tags</p>
        <span
          v-show="subtags.length > 0"
          v-for="(subtag, index) in subtags"
          :key="index"
          class="tag">{{subtag.tag}}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['tags', 'chosen_tag'],
  data() {
    return {
      subtags: [],
      tag_chosen: {},
      tags_chosen: []
    }
  },
  methods: {
    get_sub_tags(tag) {
      this.subtags = [];
      for (var i = 0; i < this.tags.length; i++) {
        if(this.tags[i].handle == tag) {
          this.tag_chosen = this.tags[i];
          for (var j = 0; j < this.tags[j].children_tags.length; j++) {
            this.subtags.push(this.tags[i].children_tags[j]);
          }
        }

      }
    }
  },
  mounted() {
    //do something after mounting vue instance
    this.get_sub_tags();
  }
}
</script>

<style lang="scss">
  @import '../assets/sass/helpers/all.scss';
  @import '../assets/fonts/style.css';
  #select-tags-text {
    font-style: italic;
    font-size: 14px;
    margin-top: 11px!important;
  }
  .tags {
    margin:5px 0 0px 0!important;
  }
  .tagact {
    background-color: #000!important;
    color: #fff!important;
  }
</style>
