<template lang="html">
  <div class="container-full">

  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
  @import '../assets/sass/helpers/all.scss';
  @import '../assets/fonts/style.css';
</style>
