<template lang="html">
  <div class="container-full">
    <!-- Main Title -->
    <div class="row" id="title-content">
      <h1 class="proxima-nova-thin add-field-title">{{title}}</h1>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title']
}
</script>
