<template>
  <div id="app">
    <!-- HEADER (No Props or data) -->
    <Header :show_mobile="show_mobile"/>

    <!-- MAIN CONTENT -->
    <div class="container" id="main-content">
      <div class="cont95">

        <!-- TITLE -->
        <Title title="Commercial Property - Add Field"/>

        <!-- MAIN WRAPPER -->
        <div class="relative container" id="main-wrapper">

          <!-- FIELD TYPES -->
          <div class="grid-d-3 grid-t-3 grid-tl-3 grid-m-12 no-padding field-types">
            <FieldTypes
              :fieldTypes="fieldTypes"
              :chosen_type="chosen_type" />
          </div>

          <!-- FIELD GROUPS -->
          <div class="grid-d-9 grid-t-9 grid-tl-9 grid-m-12 no-padding field-details">
              <FieldDetails
                :tags="tags"
                :chosen_tag="chosen_tag"
                :chosen_group="chosen_group"
                :field_groups="field_groups" />
          </div>

        </div>
        <!-- END OF MAIN WRAPPER -->

        <!-- OPTIONS -->
        <Options />

      </div>
    </div>
    <!-- END OF MAIN CONTENT -->

  </div>
</template>

<script>

// Imports the Json Data. I created this because the lists can change and generally would be stored in a DB.
import fieldTypesJson from './assets/data/fieldTypes.json';
import fieldGroupsJson from './assets/data/fieldGroups.json';
import tagsJson from './assets/data/tags.json';

// Imports Components
import Header from './components/Header.vue';
import Title from './components/Title.vue';
import FieldTypes from './components/FieldTypes.vue';
import FieldDetails from './components/FieldDetails.vue';
import Options from './components/Options.vue';

// App Component
export default {
  name: 'App',
  data() {
    return {
      windowHeight: 0,
      contentHeight: 0,
      fieldTypes: fieldTypesJson.cards,
      tags: tagsJson.tags,
      chosen_type: 'text',
      field_groups: fieldGroupsJson.groups,
      chosen_group: "",
      created_fields: [],
      chosen_tag: "",
      show_mobile: false
    }
  },
  components: {
    Header,
    Title,
    FieldTypes,
    FieldDetails,
    Options
  },
  methods: {
    // Height Calculation for Different Browser sizes
    calculate_height() {

      // Main Wrapper
      let buttons_height = this.get_element('button-options').clientHeight;
      let header_height = this.get_element('header').clientHeight;
      let title_height = this.get_element('title-content').clientHeight;
      let total_height = buttons_height + header_height + title_height + 30;
      let main_content_height = this.windowHeight - total_height;
      this.get_element('main-wrapper').setAttribute("style", "height:"+main_content_height+"px;");

      // Field Groups
      let wrapper_height = this.get_element('main-wrapper').clientHeight;
      let field_details_height = this.get_element('field-details-title').clientHeight;
      let group_heights = this.get_element('field-group-card', 'class');
      let total_group_heights = 0;
      for (var i = 0; i < group_heights.length; i++) {
        total_group_heights += group_heights[i].clientHeight;
      }
      let field_group_height = wrapper_height - field_details_height - total_group_heights - 202;
      if(field_group_height > 0 && field_group_height < wrapper_height) {
        this.get_element('add-new-group-button').setAttribute("style", "margin-top:"+field_group_height+"px;");
      }
    },
    // Shorcut for getElement
    get_element(value, key="id") {
      if (key=="id") {
        return document.getElementById(value);
      } else if (key=="class") {
        return document.getElementsByClassName(value);
      }
    },
    // Get's window height
    getWindowHeight(event) {
      this.windowHeight = window.innerHeight;
      this.calculate_height();
    }
  },
  beforeDestroy() {
    // Window Resize
    window.removeEventListener('resize', this.getWindowHeight);
  },
  mounted() {
    // Gets window height and calculates main content 
    this.getWindowHeight();
    this.calculate_height();
    this.$nextTick(function() {
      window.addEventListener('resize', this.getWindowHeight);
      this.getWindowHeight();
    });
  }
}
</script>

<style lang="scss">
  @import './assets/sass/style.scss';
  @import './assets/fonts/style.css';
  #main-content {
    margin-top: 43px;
    position: fixed;
    left: 0;
    top: 0;
  }
  #main-wrapper {
    background-color: #fff;
    border: 1px solid $lines;
    @include border-radius(5px);
    position: relative;
  }
  .add-field-title {
    margin: 15px 0;
    font-size: 34px;
  }
  #button-options {
    clear: both;
  }
  .cancel {
    margin-right: 30px;
  }
  .field-types {
    background-color: $back-light;
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid $input-border;
    @include single-border-radius(5px, top, left);
    @include single-border-radius(5px, bottom, left);
  }
  .field-types::-webkit-scrollbar {
      display: none;
  }
  .field-types::-moz-scrollbar {
      display: none;
  }
  .input-label, input[type="text"] {
    font-family: 'proxima-nova', sans-serif;
  }
  .field-details {
    height: 100%;
    overflow-y: scroll;
  }
  .field-details::-webkit-scrollbar {
      display: none;
  }
  .field-details::-moz-scrollbar {
      display: none;
  }
  @media only screen and (max-width: 45em) { /* 720px */
    #main-content {
      position: relative;
    }
    .field-types {
      overflow: normal;
    }
    .field-types {
      height: auto!important;
      border: none;
    }
    #main-wrapper {
      border: none;
    }
    .field-details {
      height: auto;
    }
  }
</style>
