/*
 * Project Variables
*/

$background:#f9fbfb;
$green: #144852;
$green-light:#345f69;
$back-light:#eff4f5;
$lines:#a9c3c7;
$headers:#333333;
$test:#405e64;
$red:#a7292a;
$menu-text:#98afb3;
$input-border:#83a9af;
