@import 'helpers/all';
@import 'base/all';

%transitions {
    transition-property: background;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}
.relative {
  position: relative;
}
.inline-block {
  display: inline-block;
}
body {
  background-color: $background;
}
p {
  line-height: normal;
  font-size: 16px;
}
.margin0 {
  margin: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.button {
  @extend %transitions;
  display: inline-block;
  padding: 8px 15px;
  @include border-radius(3px);
  margin: 20px 0;
  text-decoration: none;
  &:focus {
    outline:none;
  }
}
.button-green {
  background-color: #008aa2;
  color: #fff;
  border: 1px solid #006a7d;
  &:hover {
    background-color: #006a7d;
  }
}
.button-gray {
  background-color: #fff;
  color: #202627;
  border: 1px solid #a5c0c5;
  &:hover {
    background-color: #a5c0c5;
  }
}
.button-red {
  background-color: #a7292a;
  color: #fff;
  border: 1px solid #591616;
  &:hover {
    background-color: #591616;
  }
}
input[type="text"] {
  width: 100%;
  margin: 0;
  border: 0;
  border: 1px solid #83a9af;
  height: 32px;
  text-indent: 15px;
  font-size: 14px;
  color: $green;
  @include border-radius(3px);
  @extend %transitions;
  &:focus {
    outline:none;
    border: 1px solid $green;
  }
}
input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d0d2d3;
  font-size: 14px;
}
input[type="text"]::-moz-input-placeholder {
  color: #d0d2d3;
  font-size: 14px;
}
.input-label {
  line-height: normal;
  margin-bottom: 15px;
  color: #333;
  font-size: 15px;
}
.input-disabled {
  background-color: $background!important;
  cursor: not-allowed;
}
.input-label {
  margin-bottom: 8px!important;
}
